.logo {
  max-width: 80px;
  max-height: 80px;
  width: auto;
  height: auto;
}

.container {
  gap: 30px;
  display: flex;
  background-color: var(--white);
  padding: 1rem;
}
.navbarColor {
  background-color: white !important; 
}


.movieContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--background); 
  background-color: transparent;
}

.movieCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
  background-color: var(--charcoal); 
  border: 2px solid var(--primary); 
  border-radius: 16px;
  padding: 1.25rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.movieCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: var(--primary);
  color: black;
}



.movieImage {
  width: 120px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  border: 3px solid var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movieContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white); 
}

.movieContent strong {
  font-size: 1.4rem;
  color: var(--white);
  margin-bottom: 0.3rem;
}

.movieCard:hover .movieContent strong {
  color: var(--foreground); 
}

.movieContent p {
  margin-top: 0.5rem;
  color: var(--gray); 
  font-size: 0.95rem;
  line-height: 1.5;
}
