.logo {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
  }

  .container {
    gap: 30px;
    display: flex;
  }



  .movieContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--background);
  }
  
  .movieCard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }

  .movieLink {
    text-decoration: none;
    color: inherit;
  }
  
  .movieCard:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  }
  
  .movieImage {
    width: 120px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .movieContent {
    display: flex;
    flex-direction: column;
    color: var(--black);
  }
  
  .movieContent strong {
    font-size: 1.2rem;
    color: var(--blue);
  }
  
  .movieContent p {
    margin-top: 0.5rem;
    color: var(--foreground);
    font-size: 0.95rem;
    line-height: 1.4;
  }
  